@import '../../../scss/base/colors';

.sidebarWrapper {
  // composes:
  flex-grow:0;
  padding: 15px 10px;
  background: $amsterdam;
  color: $paris;
  height: 100%;
  overflow: hidden;
}

.listViewWrapper {
  height: 100%;
  overflow-y: auto;
  scrollbar-color: red green;
  scrollbar-width: thin;
}
