@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700|Rubik:300,400,400i,500&display=swap');
html,body {
  width:100%;
height: 100vh;
display: flex;
font-family: Karla, serif;
}
#root {
width:100%;
height:100%;
}

h1,h2,h3,h4,h5 {
  font-family: Rubik, serif;
}
