@import '../../scss/base/colors';
.item {
  // font-family: ${(props) => props.theme.fonts[1]};
  width: 100%;
  color: $paris;
}

.wrapperSubmenu {
  // max-height: 0;
  // opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  padding-left: 10px;
  // &.open {
  //   max-height: 100%;
  //   opacity: 1;
  // }
}
